
    <canvas id="loader" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></canvas>
    <div id="loader--text--container" style="display: flex; align-items: center; justify-content: center; position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; font-family: rift, sans-serif; font-size: 2.5rem; font-style: normal; font-weight: 800; ">
        <h1 id="loader--text" class="loader--h1">LOADING...</h1> 
        <h1 style="position: absolute; transform: translate(-2px, -2px); color: #e9e7e7;" class="loader--h1">LOADING...</h1>
    </div>
    <!-- <script type="module" src="../ts/loader.ts"></script> -->