<link rel="stylesheet" href="./scss/navbar.scss" />
<script type="module" src="./ts/nav.ts"></script>
<section class="navigation">
    <div class="toggle-wrapper">
        <span class="show"><i class="fa-regular fa-bars"></i>
    <ul>
      <li>  <i class="fa-regular fa-house-chimney"></i></li>
      <li> <i class="fa-light fa-address-card"></i></li>
      <li> <i class="fa-regular fa-square-dollar"></i></li>
      <li> <i class="fa-light fa-folder-user"></i></li>
    </ul>
    </span>

        <span class="hide"><i class="fa-light fa-caret-left "></i></span>
    </div>
    <nav class="sidenav__desktop">
        <ul class="sidenav__text menu">
            <li>
                <a href="index.html" target="_blank">
                    <i class="fa-duotone fa-code"></i>
                    <span class="logo__text link__text overlay__btn--colors overlay__btn ">color in code</span></a>
            </li>
            
            <li><a href="index.html" class="active__nav" target="_blank"><i class="fa-regular fa-house-chimney fa-fw"></i><span class="link__text">HOME</span></a></li>
            <li><a href="about.html" target="_blank"><i class="fa-light fa-address-card fa-fw"></i><span class="link__text">ABOUT</span></a></li>
            <li><a href="pricing.html" target="_blank"><i class="fa-regular fa-square-dollar fa-fw"></i><span class="link__text">PRICING</span></a></li>
            <li class="sldm-submenu"><a href="/portfolio"><i class="fa-light fa-folder-user fa-fw"></i><span class="link__text">PORTFOLIO</span> <i class=" fa-light fa-angle-down sldm-widget-toggle" ></i></a>
               
                    <ul class="sldm-default fa-ul" style="display: none;">

                        <li class="sublink__listitem">
                            <a href="/portfolio"> 
                                <span class="fa-li"><i class="fa-thin fa-square-terminal fa-sm fa-fw"></i></span>
                                <span class="sublink__text">Portfolio Home</span>
                            </a>
                        </li>

                        <li class="sublink__listitem">
                            <a href="./portfolio/webdevelopment.html"> 
                                <span class="fa-li"><i class="fa-thin fa-square-terminal fa-sm fa-fw"></i></span>
                                <span class="sublink__text">Web Development</span>
                            </a>
                        </li>

                        <li class="sublink__listitem">
                            <a href="./portfolio/design.html"> 
                                <span class="fa-li"><i class="fa-thin fa-square-terminal fa-sm fa-fw"></i></span>
                                <span class="sublink__text">Design</span>
                            </a>
                        </li>
<!-- 
                        <li class="sublink__listitem">
                            <a href="./case-studies.html"> 
                                <span class="fa-li"><i class="fa-thin fa-square-terminal fa-sm fa-fw"></i></span>
                                <span class="sublink__text">Case Studies</span>
                            </a>
                        </li>

                        <li class="sublink__listitem">
                            <a href="./marketing-consulting.html"> 
                                <span class="fa-li"><i class="fa-thin fa-square-terminal fa-sm fa-fw"></i></span>
                                <span class="sublink__text">Marketing &amp; Consulting</span>
                            </a>
                        </li> -->

                        <li class="sublink__listitem">
                            <a href="./portfolio/code-samples.html"> 
                                <span class="fa-li"><i class="fa-thin fa-laptop-code fa-sm fa-fw"></i></span>
                                <span class="sublink__text">Code Samples</span>
                            </a>
                        </li>

                        <li class="sublink__listitem">
                            <a href="./portfolio/aiexperimentlab.html">
                                <span class="fa-li"><i class="fa-duotone fa-alien-8bit fa-sm fa-fw"></i></span>
                                <span class="sublink__text">AI Experiment Lab</span>
                            </a>
                        </li>

                        <li class="sublink__listitem">
                            <a href="./portfolio/email-samples.html" target="_blank">
                                <span class="fa-li"><i class="fa-duotone fa-envelope fa-sm fa-fw"></i></span>
                                <span class="sublink__text">Email Samples</span>
                            </a>
                        </li>
                        
                    </ul>
            
            
            </li>

            <li><a href="contact.html" target="_blank"><i class="fa-regular fa-envelope fa-fw"></i><span class="link__text">CONTACT</span></a></li>
            <li><a href="transition-temp.html" target="_blank"><i class="fa-duotone fa-user-astronaut fa-fw"></i><span class="link__text">Client Portal</span></a></li>
        </ul>
    </nav>
    <ul class="sidenav_socialiconlist menu ">
        <li class="social_icons"><a href="https://www.instagram.com/ColorInCodedev/" target="_blank"><i class="fa-brands fa-instagram fa-fw"></i></a></li>
        <li class="social_icons"><a href="https://www.twitter.com/ColorInCodeco" target="_blank"><i class="fa-brands fa-x-twitter fa-fw"></i></a></li>
        <li class="social_icons"><a href="https://github.com/ColorInCodeMe" target="_blank"><i class="fa-brands fa-github fa-fw"></i></a></li>
    </ul>
</section>