@use './_colors.scss' as *;
// section titles
#loader {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}
.section-titles {
    font-family: "rift", sans-serif;
    padding: 2vh 0;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    @media screen and (max-width: 768px) {
        font-size: 2rem;
    }
}
.page-titles {
    font-family: "rift", sans-serif;
    padding: 2vh 0;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 800;
    margin: 0 auto;
    text-align: center;
    @media screen and (max-width: 768px) {
        font-size: 2rem;
    }
}
.sub-section-titles {
    font-family: "rift", sans-serif;
    padding: 1vh 0;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    @media screen and (max-width: 768px) {
        font-size: 1rem;
    }
}
/*site buttons*/
.btn-flex_wrapper {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1%;
}
.base-btn {
    display: inline-block;
    font-family: 'rift',sans-serif;
    white-space: nowrap;
    // overflow: hidden;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    -webkit-touch-callout: none;
}
.base-btn-atag {
    text-decoration: none;
    text-align: center;
}
.square-btn {
    background: transparent;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
.rounded-btn {
    background: transparent;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 0.35em;
}

.medium-btn-desktop {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    padding: 0 33px;
    margin: 15px auto;
  }
.large-btn-desktop {
    font-weight: 600;
    font-size: 24px;
    line-height: 50px;
    height: 50px;
    // margin: 30px auto;
    padding: 0 45px;
    margin: 15px auto;
}

.small-btn-mobile {
    @media screen and (max-width: 768px) {
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        padding: 0 27px;
    }
}
.medium-btn-mobile {
    @media screen and (max-width: 768px) {
        font-size: 15px;
        height: 45px;
        line-height: 45px;
        padding: 0 30px;
    }
}

// sitewide banner button
.sitewide__banner--one--btn {
    display: inline-block;
    border: 1px solid $wisteria;
    color: $wisteria;
    transition: opacity .25s ease-in-out;
}
.sitewide__banner--one--btn:hover {
    opacity: .9;
}
// end sitewide banner button

// shrinking border button unused
.shrinking__border--button {
    color: var(--fluorescent-blue);
    border: 2px solid var(--fluorescent-blue);
    transition: all .5s ease-in-out;
}
.shrinking__border--button::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid transparent;
    transform: translate(-2px, -2px);
    // border: 2px solid red;
    transform: scaleX(1.1) scaleY(1.3);
    transition: all .5s ease-in-out;
}
.shrinking__border--button:hover::after {
    transform: scaleX(1) scaleY(1);
    transform: translate(-2px, -2px);
    border: 2px solid white;
}
.shrinking__border--button:hover {
    color: #fff;
}
// end shrinking border button unused

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 5;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.promo__glass--btn {
    width: 250px;
    height: 50px;
    background: rgba(255, 255, 255, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.43);
    font-family: articulat-cf, sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    z-index: 5;
    color: #dbc0e8a2;
    display: grid;
    margin: 0 auto;
    // border: none;
    // outline: none;
    // color: #7A6A95;
    // background: #DBC0E8;
    // border-radius: 10px;
    // font-family: articulat-cf, sans-serif;
    // font-style: bold;
    // font-weight: 800;
    // font-size: 1.5em;
    // padding-top: 8px;
}

.promo__glass--btn:before {
    content: '';
    // background: linear-gradient(45deg, #023D57, #024C6D, #35708A, #023D57, #024C6D, #35708A, #023D57, #024C6D, #35708A);
    // position: absolute;
    // top: -2px;
    // left: -2px;
    // background-size: 400%;
    // z-index: -1;
    // filter: blur(5px);
    // width: calc(100% + 4px);
    // height: calc(100% + 4px);
    // animation: glowing 20s linear infinite;
    // opacity: 0;
    // transition: opacity .3s ease-in-out;
    // border-radius: 10px;
    // -webkit-animation: color-change-4x 2.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate both;
    // animation: color-change-4x 2.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate both;
}

// .promo__glass--btn:active {
//     // color: #dbc0e8a2;
// }

.promo__glass--btn:active:after {
    background: transparent;
}

// .promo__glass--btn:hover:before {
//     // opacity: 1;
// }

.promo__glass--btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    // background: #DBC0E8;
    left: 0;
    top: 0;
    border-radius: 10px;
}


// about button
.about-button-glow-on {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #7A6A95;
    background: #DBC0E8;
    cursor: pointer;
    position: absolute;
    top: 39%;
    z-index: 5;
    border-radius: 10px;
    font-family: articulat-cf, sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 1.5em;
    padding-top: 8px;
    margin: 0 auto;
    display: grid;
    // align-items: center;
    // justify-content: center;
}
.about-button-glow-on:before {
    content: '';
    // background: linear-gradient(45deg, #023D57, #024C6D, #35708A, #023D57, #024C6D, #35708A, #023D57, #024C6D, #35708A);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    -webkit-animation: color-change-4x 2.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate both;
            animation: color-change-4x 2.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate both;
}
.about-button-glow-on:active {
    color: #DBC0E8;
}
.about-button-glow-on:active:after {
    background: transparent;
}
.about-button-glow-on:hover:before {
    opacity: 1;
}
.about-button-glow-on:after {
    z-index: -1;
    content: '';
    // position: absolute;
    width: 100%;
    height: 100%;
    background: #DBC0E8;
    // left: 0;
    // top: 0;
    border-radius: 10px;
}

.cic--green-text {
    color:  var(--mint-green);
    transition: all .3s ease-in-out;
}
.cic--green-text:hover, .cic--green-text:active, .cic--green-text:visited{
    color:  var(--mint-green);
}
.cic--purple-text {
    color: var(--wisteria);
    transition: all .3s ease-in-out;
}
.cic--purple-text:hover, .cic--purple-text:active, .cic--purple-text:visited {
    color: var( --darkerwisteria);
}
.cic--blue-text {
    color: var(--blue-munsell);
    transition: all .3s ease-in-out;
}
.cic--blue-text:hover, .cic--blue-text:active, .cic--blue-text:visited {
    color: var(--indigo-dye);
}
.cic--white-text {
    color: #fff;
    transition: all .3s ease-in-out;
}
.cic--pink-text {
    color: var(--telemagenta);
}
.cic--pink-text:hover , .cic--pink-text:active , .cic--pink-text:visited{
    color: var(--flirt);
}
.cic--grey {
    color: $cool-grey;
}
.cic--offwhite {
    color: $lightoffwhite;
}