
body {
    margin: 0;
    padding: 0;
 
}
// audacity page begin
[data-aspect-ratio] {
    height: var(--aspect-ratio-height);
  }
// audacity slide one begin

.audacity--first--slide__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 3vh;
    padding: 3vh;
    width: calc(100% - 6vh);
    height: calc(100% - 6vh);
    @media screen and (max-width: 1028px) {
        gap: 1.5vh;
        padding: 1.5vh;
        width: calc(100% - 3vh);
        height: calc(100% - 3vh);
    }
}
// audacity mason area begin
// hexagon begin
.audacity-text-hexagon-stroke {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    align-self: center;
    justify-self: center;
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 360px;
    // margin-top: auto;
    // margin-bottom: -40px;
    background: #fff;
    -webkit-clip-path: polygon(25% 15%, 75% 15%, 97% 50%, 75% 85%, 25% 85%, 3% 50%);
    clip-path: polygon(25% 15%, 75% 15%, 97% 50%, 75% 85%, 25% 85%, 3% 50%);
    @media screen and (min-width: 2000px) {
        width: 480px;
        height: 550px;
    }
    @media screen and (max-width: 1028px) {
        // position: absolute;
        // top: 0;
        // left: 0;
        // transform: translateY(-20px);
        // margin-left: 30px;
        // width: 180px;
        // height: 220px;
        display: none;
    }
}
.audacity-text-hexagon::before{
  content: "";
  background-clip: border-box;
  background-position: center;
  background-image: url("../assets/1-hexagon-clip.png");
  background-blend-mode: multiply;
  mix-blend-mode: difference;
  position: absolute;
  left: 0%;
  width: 100%;
  height: 100%;
}
.audacity-text-hexagon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
    width: 300px;
    height: 350px;
    background: #000;
    -webkit-clip-path: polygon(25% 15%, 75% 15%, 97% 50%, 75% 85%, 25% 85%, 3% 50%);
    clip-path: polygon(25% 15%, 75% 15%, 97% 50%, 75% 85%, 25% 85%, 3% 50%);
    @media screen and (min-width: 2000px) {
        width: 470px;
        height: 540px;
    }
    @media screen and (max-width: 1028px) {
        // width: 175px;
        // height: 215px;
        display: none;
    }
}
.audacity-text-hexagon-h1 {
    font-size: 1.2rem;
    font-weight: 600;
    z-index: 5;
    color: #fff;
    font-family: "rift",sans-serif;

    @media screen and (min-width: 2000px) {
        font-size: 1.6rem;
    }
    @media screen and (max-width: 1028px) {
        // font-size: .9rem;
        display: none;
    }
}
.audacity-text-hexagon-p {
    font-size: 1.1rem;
    z-index: 5;
    color: #fff;
    @media screen and (min-width: 2000px) {
        font-size: 1.5rem;
    }
    @media screen and (max-width: 1028px) {
        // font-size: .7rem;
        display: none;
    }
}
// hexagon end
.audacity--first--area {
    grid-column: 4 / 7;
    grid-row: 1 / 6;
    background-image: url('../../assets/audacity-tag.png');
    background-size: cover;
    @media screen and (max-width: 1028px) {
        grid-column: 1 / 5;
        grid-row: 6 / 9;
        background-position: 20% 50%;
    }
}
.audacity--second--area {
    grid-column: 7 / 13;
    grid-row: 1 / 3;
    background-image: url('../../assets/audacity-lanyard-city.jpg');
    background-size: cover;
    background-position: 50%;
    @media screen and (max-width: 1028px) {
        grid-column: 1 / 13;
        grid-row: 1 / 3;
    }
}
.audacity--third--area {
    grid-column: 1 / 4;
    grid-row: 4 / 9;
    background-image: url('../../assets/audacity-full-hoodie.jpg');
    background-size: cover;
    background-position: 50%;
    @media screen and (max-width: 1028px) {
        display: none;
    }
}
.audacity--fourth--area {
    grid-column: 4 / 7;
    grid-row: 6 / 9;
    background-image: url('../../assets/audacity-hoodie-grey.jpg');
    background-size: cover;
    background-position: 50%;
    @media screen and (max-width: 1028px) {
        grid-column: 1 / 5;
        grid-row: 3 / 6;
    }
}
.audacity--fifth--area {
    grid-column: 7 / 13;
    grid-row: 3 / 9;
    background-image: url('../../assets/audacity-black-hoodie.jpg');
    background-size: cover;
    background-position: 50%;
    @media screen and (max-width: 1028px) {
        grid-column: 5 / 13;
        grid-row: 3 / 9;
    }
} 
// audacity mason area end
.audacity-greydient {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
    background: linear-gradient(0deg, #000000 30%, transparent 100%);
}
.audacity-learn-more {
    display: flex;
    flex-direction: column;
    width: auto;
    font-family: "rift",sans-serif;
    font-weight: 500;
    transform: translateY(-30px);
    transition: all 0.777s ease-in-out;
}
.audacity-learn-more:hover .audacity-learn-more-text {
    transform: scale(1.05);
    color: #2ed2ef;
}
.audacity-learn-more:hover .audacity-arrow {
    transform: scale(1.05);
    color: #2ed2ef;
}
.audacity-learn-more-text {
    font-size: .8em;
    padding: 10px 0 0 0;
    margin: 0;
    color: #fff;
    font-family: "rift",sans-serif;
    font-weight: 500;
    transform: scale(1);
    transition: all 1s ease-in-out;
}
.audacity-arrow { 
    margin: 0;
    padding: 0;
    width: auto;
    font-size: 1em;
    color: #fff;
    transform: scale(1);
    transition: all 1s ease-in-out;
    animation: arrowBounce infinite 4s ease-in-out;
}
// audacity slide one end
// audacity slide two begin
.audacity--second--slide__wrapper {
    display: flex;
    flex-direction: column;
    // grid-template-columns: repeat(12, 1fr);
    // grid-template-rows: repeat(8, 1fr);
    // gap: 3vh;
    padding: 3vh;
    // width: calc(100% - 6vh);
    // height: calc(100% - 6vh);
    @media screen and (max-width: 1028px) {
        // gap: 1.5vh;
        // padding: 1.5vh;
        // width: calc(100% - 3vh);
        // height: calc(100% - 3vh);
    }
}
.audacity-ss-greydient {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
    bottom: 0;
    width: 100%;
    background: transparent;
}
.audacity-ss-learn-more {
    display: flex;
    flex-direction: column;
    width: auto;
    transition: all 2s ease-in-out;
    font-family: "rift",sans-serif;
}
.audacity-ss-learn-more:hover .audacity-ss-learn-more-text {
    transform: scale(1.05);
    color: #2ed2ef;
}
.audacity-ss-learn-more:hover .audacity-arrow {
    transform: scale(1.05);
    color: #2ed2ef;
}
.audacity-ss-learn-more-text {
    font-size: .8em;
    padding: 10px 0 0 0;
    margin: 0;
    color: #fff;
    transform: scale(1);
    font-family: "rift",sans-serif;
    transition: all 1s ease-in-out;
}
.audacity--ss--title {
    color: #fff;
    font-family: "rift",sans-serif;
    font-weight: 500;
    margin-top: 4em;
}
.audacity--ss--paragraph {
    font-size: 1.2rem;
    color: #fff;
}
.audacity-text-box {
    padding: 6vh;
    margin: 0 20vw 0 20vw;;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    @media screen and (max-width:768px) {
    margin: 0 4vw;
    padding: 2vh;
    }
}
// audacity slide two end
// audacity slide three begin
// .audacity--third--slide__wrapper {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: 65px auto;
//     gap: 0;
//     padding: 0;
//     width: 100%;
//     height: 100%;
//     background: #000000aa;
// }
// .ts-navbar-section {
//     grid-column: 1 / 2;
//     grid-row: 1 / 2;
//     box-sizing: border-box;
//     width: 100%;
//     max-height: 65px;
//     display: flex;
//     justify-content: space-evenly;
//     align-items: center;
//     // border: 2px dashed purple;
//     object-fit: contain;
//     background: radial-gradient(circle, #333333 10%, #000000 80%);
//     @media screen and (max-width: 1000px) {
//         flex-direction: row-reverse;
//         justify-content: unset;
//         background: transparent;
//     }
// }
// .ts-navbar-logo {
//     height: calc(100% - 23px);
//     width: 200px;
//     margin-top: 13px;
//     margin-bottom: 10px;
//     transform: translateX(-60px);
//     background-image: url('../../assets/audacity-logo@2x-white.png');
//     background-size: contain;
//     background-position: 50%;
//     background-repeat: no-repeat;
//     @media screen and (max-width: 1000px) {
//         display: none;
//     }
// }
// .ts-navbar-links {
//     color: #fff;
//     margin: 0;
//     padding: 0;
//     font-size: 1.8rem;
//     font-weight: 500;
//     @media screen and (max-width: 1000px) {
//         display: none;
//     }
// }

// audacity slide three end
// audacity slide four begin
.audacity--fourth--slide__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px auto;
    gap: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    @media screen and (max-width: 1028px) {
    }
}
.fs-navbar-section {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    box-sizing: border-box;
    width: 100%;
    max-height: 65px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // border: 2px dashed purple;
    object-fit: contain;
    background: radial-gradient(circle, #333333 10%, #000000 80%);
    @media screen and (max-width: 1000px) {
        flex-direction: row-reverse;
        justify-content: unset;
        background: transparent;
    }
}
.fs-navbar-logo {
    height: calc(100% - 23px);
    width: 200px;
    margin-top: 13px;
    margin-bottom: 10px;
    transform: translateX(-60px);
    background-image: url('../../assets/audacity-logo@2x-white.png');
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    @media screen and (max-width: 1000px) {
        display: none;
    }
}
.fs-navbar-links {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 500;
    font-weight: 600;
    line-height: 1.5;
    font-family: "rift", sans;
    @media screen and (max-width: 1000px) {
        display: none;
    }
}
.hamburger-breakpoint {
    display: none;
    color: transparent;
    size: 0;
    @media screen and (max-width: 1000px) {
        display: flex;
        color: black;
        width: 50px;
        height: 50px;
        padding: 10px 5px 0 0;
    }
}
.fs-shop-section {
    grid-column: 1 / 13;
    grid-row: 2 / 9;
    display: flex;
    flex-direction: column;
    // background: white;
    background: #171717;
}
.fs-shop-title {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5;
    font-family: "rift", sans;
    color: #fff;
    text-align: left;
    margin: 20px 0 0 20px;
}
.fs-shop-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    @media screen and (max-width: 680px) {
        display: flex;
        flex-direction: column;
    }
}
.fs-shop-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55% auto auto auto;
    width: 20%;
    // height: 80%;
    height: 60%;
    box-sizing: border-box;
    padding: 20px;
    overflow: hidden;
    border-radius: .5em;
    background: #fffffff9;
    // box-shadow: 0 4px 30px #0000003a;
    border: 1px solid #3333334d;
    @media screen and (max-width: 1000px) {
        width: 300px;

    }
    @media screen and (max-width: 680px) {
        width: 300px;

    }
}
.shop-item-gone-1000 {
    @media screen and (max-width: 1000px) {
        display: none;

    }
}
.shop-item-gone-680 {
    @media screen and (max-width: 680px) {
        display: none;

    }
}
.fs-item-image-one {
    background-image: url(../../assets/audacity-black-hoodie-fulllogo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.fs-item-image-two {
    background-image: url(../../assets/audacity-hoodie-full-grey-logoonly.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.fs-item-image-three {
    background-image: url(../../assets/audacity-grey-hoodie-fulllogo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.fs-item-title {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}
.fs-item-description {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
.fs-item-price {
    font-size: 1rem;
}

.background--image__mainwrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('https://colorincode.me/assets/portfolio_pages/audacity/audacity-la-night-photo.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.audacity--third--slide__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px auto;
    gap: 0;
    padding: 0;
    /* margin-top: auto; */
    width: 100%;
    height: 100%;
    background: #000000aa;
}
.ts-navbar-section {
    grid-column: 0.5;
    grid-row: 0.5;
    box-sizing: border-box;
    width: 100%;
    max-height: 65px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    object-fit: contain;
    background: radial-gradient(circle, #333 10%, #000 80%);
}
@media screen and (max-width: 1000px) {
    .ts-navbar-section {
        flex-direction: row-reverse;
        justify-content: unset;
        background: transparent;
   }
}
.ts-navbar-logo {
    height: calc(100% - 23px);
    width: 200px;
    margin-top: 13px;
    margin-bottom: 10px;
    transform: translateX(-60px);
    background-image: url('https://colorincode.me/assets/portfolio_pages/audacity/audacity-logo@2x-white.png');
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1000px) {
    .ts-navbar-logo {
        display: none;
   }
}
.ts-navbar-links {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: "rift",sans-serif;
}
@media screen and (max-width: 1000px) {
    .ts-navbar-links {
        display: none;
   }
}
.hamburger-breakpoint {
    display: none;
    color: transparent;
    size: 0;
}
@media screen and (max-width: 1000px) {
    .hamburger-breakpoint {
        display: flex;
        color: white;
        width: 50px;
        height: 50px;
        padding: 10px 5px 0 0;
   }
}
.period-table-wrapper {
    // grid-auto-columns: 0.5fr;
    // grid-row: span 5;
    // display: grid;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transform:translateY(-31%);
}
.period-table-row-one , .period-table-row-two , .period-table-row-three , .period-table-row-four , .period-table-row-five {
    min-height: 94px;
}
.period-table-row-one {
    display: flex;
    width: 100%;
    z-index: 1;
}
.period-table-row-two {
    display: flex;
    width: 100%;
    z-index: 1;
}
.period-table-row-three {
    display: flex;
    width: 100%;
    z-index: 1;
}
.period-table-row-four {
    display: flex;
    width: 100%;
    z-index: 1;
}
.period-table-row-five {
    display: flex;
    width: 100%;
    z-index: 1;
}
.period-table-square {
    margin: 3px;
    display: flex;
    z-index: 2;
    flex: 1;
    border: 2px solid white;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.ts-link-square {
    transition: all 0.7s ease-in-out;
    transform: scale(1);
    z-index: 0;
}
.ts-link-square:hover {
    transform: scale(1.1);
    z-index: 9;
}
.period-table-spacer {
    margin: 3px;
    border: 2px solid transparent;
    color: transparent;
    background: transparent;
    display: flex;
    z-index: 2;
    flex: 1;
}
.disapearing-act-1400 {
    display: flex;
}
@media screen and (max-width: 1400px) {
    .disapearing-act-1400 {
        display: none;
        width: 0px;
   }
}
.disapearing-act-1250 {
    display: flex;
}
@media screen and (max-width: 1250px) {
    .disapearing-act-1250 {
        display: none;
        width: 0px;
   }
}
.disapearing-act-1000 {
    display: flex;
}
@media screen and (max-width: 1000px) {
    .disapearing-act-1000 {
        display: none;
        width: 0px;
   }
}
.disapearing-act-900 {
    display: flex;
}
@media screen and (max-width: 900px) {
    .disapearing-act-900 {
        display: none;
        width: 0px;
   }
}
.disapearing-act-800 {
    display: flex;
}
@media screen and (max-width: 800px) {
    .disapearing-act-800 {
        display: none;
        width: 0px;
   }
}
.disapearing-act-600 {
    display: flex;
}
@media screen and (max-width: 600px) {
    .disapearing-act-600 {
        display: none;
        width: 0px;
   }
}
.ts-au-square {
    background: white;
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/au-solo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.ts-grey-logoonly-hoodie-square {
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/audacity-hoodie-full-grey-logoonly.jpg);
}
.ts-black-sleeve-hoodie-square {
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/audacity-full-sleeve-black.jpg);
}
.ts-black-hoodie-fulllogo-square {
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/audacity-black-hoodie-fulllogo.jpg);
}
.ts-grey-hoodie-fulllogo-square {
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/audacity-grey-hoodie-fulllogo.jpg);
}
.ts-grey-hoodie-small-logo-square {
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/audacity-black-hoodie-sleeve-chest.jpg);
}
.ts-grey-hoodie-sleeve-logo-square {
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/audacity-grey-sleeve-logo.jpg);
}
.ts-black-hoodie-square {
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/audacity-black-hoodie.jpg);
}
.ts-tag-square {
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/audacity-tag.png);
}
.ts-dude-singin-square {
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/audacity-dude-singin.jpg);
}
.ts-two-shirts-square {
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/audacity-two-shirts.jpg);
}
.ts-rock-water-thing-square {
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/audacity-rock-water-thing.jpg);
}
.ts-next-to-water-square {
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/audacity-next-to-da-wata.jpg);
}
.ts-north-face-square {
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/audacity-north-face.jpg);
}
.ts-smoke-square {
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/audacity-smoke.jpg);
}
.ts-three-tanks-square {
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/audacity-tanks-three.jpg);
}
.ts-group-photo-square {
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/audacity-group-photo.jpg);
}
.ts-desk-square {
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/audacity-desk.jpg);
}
.ts-desk-two-square {
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/audacity-desk-two.jpg);
}
.ts-printed-logo-square {
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/audacity-printed-logo-black.jpg);
}
.ts-hoodie-grey-square {
    background-image: url(https://colorincode.me/assets/portfolio_pages/audacity/audacity-hoodie-grey.jpg);
}

// audacity page end



@keyframes arrowBounce {
  40% {
    transform: translateY(-3px);
  }
  60% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(-5px);
  }
} 